<div class="room-card">
  <h2 class="room-name">{{ room_name }}</h2>
  <span class="room-description">{{ room_description }}</span>
  <p class="room-participants">참여자: {{ participant_count }}명</p>
  <p class="room-created">생성일: {{ created_at }}</p>
</div>

<style>
.room-card {
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 18px;
  padding: 16px;
  margin-bottom: 16px;

  cursor: pointer;
}

.room-card:hover {
  background-color: #eaeaea;
}

.room-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.room-participants,
.room-created {
  font-size: 0.95rem;
  color: #707070;
  margin: 8px 0 0 0;
}
</style>